.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Container {
  display: flex;
  width: 100%;
}

.Column {
  font-family: sans-serif;
  flex-direction:column;
  align-items: flex-start;
  text-align: left;
  margin: 10px;
  padding:10px;
  width: 50%;
}

.Team {
  background-color:lightgreen;
  margin: 10px;
  padding: 10px;
  border-radius:10px;
}


.Hide {
  display: none;
}

.Player {
  display: block;
  background-color:lightblue;
  width : 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.Skills {
  float: right;
  
}

.Skill {
  border:1px;
  border-color: firebrick;
  background-color: yellow;
  width: 50px;
  display:inline-flex;
}